<div class="container">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default" ng-if="!person">
            <div class="panel-heading">
                Cargando
            </div>
            <div class="panel-body" style="height:253px">
                <img src="/loader.gif" style="margin:85px auto; display:block"/>
            </div>
        </div>

        <div class="panel panel-default" ng-if="person">
        <div class="panel-heading">
                Detalle de {{person.name}}
        </div>        
        <div class="panel-body">
        
            <form name="formPersona" class="form-horizontal" novalidate>

                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                      <img ng-src="{{person.name | avatarFilter}}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="input" class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        <div class="form-control-static">
                            <input class="form-control" type="text" ng-model="person.name" required/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input" class="col-sm-2 control-label">Teléfono:</label>
                    <div class="col-sm-10">
                        <div class="form-control-static">
                            <input class="form-control" type="text" ng-model="person.phone" required/>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': !formPersona.edad.$valid}">
                    <label for="input" class="col-sm-2 control-label">Edad:</label>
                    <div class="col-sm-10">
                        <div class="form-control-static">
                            <input name="edad" class="form-control" type="number" ng-model="person.age"  min="18" max="20" required/>
                            <p class="text-danger" ng-show="formPersona.edad.$error.required">campo requerido</p>
                            <p class="text-danger" ng-show="formPersona.edad.$error.min">Stop</p>
                            <p class="text-danger" ng-show="formPersona.edad.$error.max">Mucho</p>
                            {{formPersona.edad.$error}}
                        </div>
                    </div>
                    
                </div>

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <a href="#/" class="btn btn-warning">Volver</a>
                    </div>
                    <div class="col-sm-10 col-sm-offset-2">
                        <button class="btn btn-primary" ng-disabled="!formPersona.$valid" ng-click="guardar(person)">Guardar</button>
                    </div>
                </div>

                <div>
                    {{mensaje}}
                </div>
            </form>          
    </div>
</div>