 <div>
 	<img ng-src="{{person.name | avatarFilter}}" alt="">
    {{person.name}} 
    <a href="#/person/{{person.id}}">Link Detalle</a>
    <button type="button" ng-hide="detalles" ng-click="		verMas()">Ver mas</button>
    <button type="button" ng-show="detalles" ng-click="verMenos()">Ver Menos</button>
    <div ng-show="detalles">
    	{{person.age}} {{person.company}}
    </div>
 </div>