<div class="container"> 
     <div class="panel panel-default">
        <div class="panel-heading">Listado de personas</div>

        <div class="panel-body">
            
            <div class="input-group">
            <span class="input-group-addon">Filtro Nombre</span>
            <input type="text" class="form-control"  ng-model="campobusqueda.name"/> 
            </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="person in people | filter:campobusqueda">
                       <directiva-persona person="person">
                       </directiva-persona>
                       
                    </li>
                </ul>
            </div>
        </div>

               
</div>